.navbar {
	
	background-color: #139397;	
}



div {
  display: block;
  position: relative;
  background: no-repeat;
}

div::after {
  content: "";
  background: url('../images/ondasLogin.png');

  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}