.navbar {
	
	background-color: #139397;	
}



div {
  display: block;
  position: relative;
}

div::after {
  content: "";  
  background-image: url('../images/ondasLogin.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 40em;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}